<!-- About Section -->
<section id="about" class="normal">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom:10px;">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <ul style="list-style-type:square;list-style:none;">
                <li><p>Senior Computer Engineering Student at New Jersey Institute of Technology (NJIT)<p></li>
                <li><p>Software Engineer of many different disciplines including Web (AngularJS, Python, PHP), Mobile(Android), Big Data (Hadoop)</p></li>
                <li><p>Strong Motivation to Learn, Whether It Be On My Own, Meetups and Presentations, or Major Conferences.</p></li>
                <li><p>Love building and working on things that I feel really help people or make their lives better. I need my work to have an impact.</p></li>
                <a href="pdf/resume.pdf"><li><p>Full Resume Available</p></li></a>
            </ul>
        </div>            
<!--             <div class="row">
            
        </div>
        <div class="row">
            
        </div> -->
    </div>
</section>
