<div style="margin-top:20px;">
    <!-- Contact Section -->
    <section id="contact" class="normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom:10px;">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <div class="row" style="margin-top:50px;">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                     <a href="https://www.github.com/kford55"><img style="padding:25px;" src="img/GitHub.png"/></a><a href="https://www.twitter.com/KennethFNJIT"><img style="padding:25px;" src="img/Twitter.png"/></a><a href="https://www.linkedin.com/in/kennethford93"><img style="padding:25px;" src="img/LinkedIn.png"/></a>                
                </div>
            </div>
        </div>
    </section>
</div>