<!-- Projects Section -->
<div style="margin-top:20ps;">
    <section class="success" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom:10px;">
                    <h2>Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3 style="margin-top:15px;text-align:center;">Home Automation System (Senior Design Project)</h3>
                    <p>Me and my team developed a Home Automation System that would control the unlocking of your door, light dimming, and temperature control.</p>
                    <p>Developed the hardware using 3 Particle Core microcontrollers, along with schematics and modules for the specific components.</p>
                    <p>Architected and developed the software for the microcontrollers using the Arduino Wireframe language.</p>
                    <p>Created a real-time web application to communicate to the hardware wirelessly using JavaScript/jQuery and HTML/Bootstrap.</p>
                    <p>Submitted approved technical documents and presented to a panel of industry professionals.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3 style="margin-top:15px;text-align:center;">Microgrid Simulation Model (Volunatry) <!-- <a href="https://github.com/kford55">GitHub</a> --></h3>
        <p>Develop simulation program for an Electrical Engineering Masters Thesis.</p>
        <p>Using Python, created and simulated complex mathematical equations taking input from user and data sheets</p>
        <p>Architected efficient code and algorithm to implement load shedding, which will take certain parameters and then determine which power sources to be turned off and then turned back on in the correct order. This is the main innovation in the thesis.</p>
        <p>Ran extensive unit testing, as the complexity of this project makes testing components together very difficult.</p>
        <p>Created documentation for the student and advisor to have a full understanding of the code and how it operates, so it is easy to build on for future endeavors.</p>
    </section>
    <section class="success"> 
        <div class="col-lg-10 col-lg-offset-1">
            <h3 style="margin-top:15px;text-align:center;">NJIT Empty Classroom Finder Application (In Progress) <!-- <a href="https://github.com/kford55">GitHub</a> --></h3>
            <p>Develop a scraper in Python to gather information about all classes at NJIT including Room, Day, and Time.</p>
            <p>Creating a relational database structure to be understandable and efficient to store class information.</p>
            <p>Develop an API in Python (Flask) to handle requests for information, so it will not only be easily portable to IOS and web when I am done, but so it can be consumed by anyone else.</p>
            <p>Create an Android Mobile application to interface with the user that will be simple and intuitive.</p>
        </div>
    </section>
</div>